.InfoCard {
	width: 49%;
	height: 90%;
	margin: auto;
	border: 1px solid #003366;
	box-shadow: 0 2px 3px #ccc;
}

.Heading{
	font-size: 1.5em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
}

.Para{
	font-size: 1em;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 0;
}

.SubHeading{
	font-weight: bold;
}